certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
gluoncv==0.7.0
graphviz==0.8.4
idna==2.9
kiwisolver==1.2.0
matplotlib==3.2.1
mxnet-mkl==1.6.0b20200303
numpy==1.18.4
opencv-python-headless==4.2.0.34
Pillow==7.1.2
portalocker==1.7.0
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.23.0
scipy==1.4.1
six==1.14.0
tqdm==4.46.0
urllib3==1.25.9
